<div class="container mt-3">
    <h3>Users</h3>
    <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#userModal"
        (click)="prepareModal('add')">Add User</button>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.UserName }}</td>
                <td>{{ user.Email }}</td>
                <td>
                    <button class="btn btn-warning btn-sm me-2" data-bs-toggle="modal" data-bs-target="#userModal"
                        (click)="prepareModal('edit', user)">Edit</button>
                    <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Modal Body -->
    <div class="modal fade" id="userModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
        role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">{{ modalTitle }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="userName" class="form-label">UserName</label>
                            <input type="text" class="form-control" id="userName" [(ngModel)]="selectedUser.UserName"
                                name="userName">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" [(ngModel)]="selectedUser.Email"
                                name="email">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="onSave()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>